<md-toolbar color="primary">
  <button md-icon-button 
          [routerLink]="['/']">
    <md-icon svgSrc="/assets/images/icon.svg"></md-icon>
  </button>
  <span class="grow"></span>
  <button md-button 
          *ngIf="!authService.isLoggedIn"
          [routerLink]="['/register']"
          [routerLinkActive]="['active']">Register</button>
  <button md-button 
          *ngIf="!authService.isLoggedIn"
          [routerLink]="['/login']"
          [routerLinkActive]="['active']">Login</button>
  <button md-button 
          *ngIf="authService.isLoggedIn"
          [routerLink]="['/account']"
          [routerLinkActive]="['active']">Account</button>
  <button md-button 
          *ngIf="authService.isLoggedIn"
          (click)="logout()">Logout</button>
</md-toolbar>