<div>app account</div>
<div class="row">
    <div class="left">
            <button md-button 
                        [routerLink]="['/account']"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLinkActive]="['active']">My profile</button>
            <button md-button 
                        [routerLink]="['/account/posts']"
                        [routerLinkActive]="['active']">My Posts</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>